
{% include 'shogun-products', content: page %}

<article style="margin-top: 0;padding-top: 0;" class="site-page" data-template-page>
  <header class="page-masthead od-stud">
    <div class="which-stud-header">
      <h1>Which Stud Do I Need?</h1>
      <p>For best results type your exact binocular model and  make sure to find it in the compatability chart. If you do not find your model, please give us a call and we'll be happy to help.</p>
      
</div>

  </header>
  
	<div class="which-stud-container" style="padding: 0px 20px;">
      {% include 'stud-search' %}
    </div>
  
</article>

