<link type="text/css" href="{{ 'adapter.css' | asset_url }}" rel="stylesheet">
<link type="text/css" href="{{ 'outdoorsmans-product-pages.css' | asset_url }}" rel="stylesheet">

{{product.metafields.shogun.above}}
{% render 'breadcrumbs' %}

{% section 'static-product' %}

<section class="two-thirds-left" style="margin-top: 75px;">
  <div style="background: url('https://cdn.shopify.com/s/files/1/0799/0299/files/outdoorsmans-carbon-innegra.jpg?v=1673029560');background-size: cover;background-position: center;"></div>
  <div class="gray-border-top-bottom">
    <h2>The Most Durable Hunting Tripod In the World Gets an Upgrade</h2>
    <p>For 20 years the Outdoorsmans Tripod has been the preferred glassing platform of serious hunters across the West. That's two decades of experience and data we've gathered to make fine adjustments and create something truly special.</p>
     <p>We've made some small tweaks which greatly improve the overall use, quality of life, and durabilty of our tripods. The Outdoorsmans Gen 2 Tripod is, without a doubt, the most effective in-field tripod in existence.</p>
      <p class="callout-text">Welcome to the next era of your glassing setup.</p>
  </div>
</section>

<section class="two-thirds-right reversed">
    
    <div>
      <h2 style="margin-bottom: 0;">A Design Built to Last a Lifetime</h2>
      <p style="margin-bottom: 0;"><b>Materials</b></p>
      <p style="margin-top: 0;">The Gen 2 Tripod uses a blend of materials to ensure the lightest, strongest, and most stable glassing platform possible while keeping the constraints of a hunter in mind. The trunnion, locks, and pivoting mechanism are machined from aircraft-grade 6061 T6 aluminum. The leg sections are made from a blend of carbon fiber and Innegra – <b>The first of its kind.</b></p>

      <p style="margin-bottom: 0;"><b>1000-Year Service Life</b></p>
      <p style="margin-top: 0;">We've designed the Gen 2 Tripod to be indestructible. That being said, the world is often unpredictable, so we've designed virtually every piece to be self-serviceable both in and out of the field. We don't expect repairs to be common, but it's nice to know you can do them yourself.</p>
      
      <p style="margin-bottom: 0;"><b>Modular Components</b></p>
      <p style="margin-top: 0;">Each section of the Gen 2 Tripod is designed be modular. The feet can be swapped for different types of terrain, the leg tubes can be interchanged between Carbon Innegra and Aluminum (coming soon), and the Center Post can be replaced with one of our various size options. We provide the platform, but you make the tripod truly yours.</p>
    </div>
  <div style="background: url('https://cdn.shopify.com/s/files/1/0799/0299/files/carbon-fiber-tripod-2.jpg?v=1673029915');background-size: cover;background-position: center;min-height: 400px;"></div>
    
</section>

<section class="two-thirds-left">
  <div style="background: url('https://cdn.shopify.com/s/files/1/0799/0299/files/LJS1818_bfefbf6a-922f-4a49-80e1-76a7710c8bd5.jpg?v=1673382346');background-size: cover;background-position: center;"></div>
  <div>
      <h2 style="margin-bottom: 0;">Features</h2>
      <p style="margin-bottom: 0;"><b>Lightening Fast Deployment</b></p>
      <p style="margin-top: 0;">Keeping in line with our entire glassing system, the Gen 2 Tripod deploys and is ready to use in seconds.</p>
      <ul class="feature-list-od">
        <li><b>Lever locks:</b> We'll die on this hill, they're better and faster.</li>
        <li><b>3 Leg Sections:</b> Less is more, in our opinion. Limiting the legs to three sections allows greater weight capacity and simplicity.</li>
      </ul>

      <p style="margin-bottom: 0;"><b>Unmatched Stability</b></p>
      <p style="margin-top: 0;"></p>
      <ul class="feature-list-od">
        <li><b>Weight Capacity:</b> Handle any optic on the market with ease. Shoot rifles off of it, shoot movies off of it; there is virtually no limit here.</li>
        <li><b>Center Post Hook:</b> Threaded center post allows addition of a ballast hook for added stability.</li>
        <li><b>Vibration Dampening:</b> The ultra-tight weave and extreme rigidity of Carbon Innegra offers superior vibration dampening.</li>
      </ul>
      
      <p style="margin-bottom: 0;"><b>Built with Pride</b></p>
      <p style="margin-top: 0;">Each and every piece of the Gen 2 Tripod is built to last a lifetime and <b>every single component is made right here in the United States.</b>.</p>
      <ul class="feature-list-od">
        <li><b>Material:</b> Made from CNC-machined 6061 T6 Aluminum and Carbon Innegra composite.</li>
        <li><b>Hunter Resistant:</b> Hot? Cold? Hit it with a sledgehammer? Good luck breaking it.</li>
        <li><b>DIY:</b> All parts are easily serviceable, cleanable, and replaceable.</li>
        <li><b>Stay Safe:</b>  Includes protective case.</li>
      </ul>
    <h2 style="margin-bottom: 0;">Tech Specs</h2>
    <table border="0" cellpadding="5" cellspacing="5" style="max-width: 100%;" class="gen-2-tech-specs">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td><b>Weight</b></td>
			<td><b>Height Compressed</b></td>
			<td><b>Height Extended</b></td>
		</tr>
		<tr>
			<td><b>Carbon Compact</b></td>
			<td>1lb 15oz</td>
			<td>14.75in</td>
			<td>38.25in</td>
		</tr>
		<tr>
			<td><b>Carbon Standard</b></td>
			<td>2lb 3oz</td>
			<td>18.5in</td>
			<td>53in</td>
		</tr>
		<tr>
			<td><b>Carbon Tall</b></td>
			<td>2lb 6oz</td>
			<td>21.5in</td>
			<td>63.25in</td>
		</tr>
		<tr>
			<td><b>Aluminum Compact</b></td>
			<td>2lb 7oz</td>
			<td>14.75in</td>
			<td>38.25in</td>
		</tr>
		<tr>
			<td><b>Aluminum Standard</b></td>
			<td>2lb 13oz</td>
			<td>18.5in</td>
			<td>53in</td>
		</tr>
		<tr>
			<td><b>Aluminum Tall</b></td>
			<td>3lb 1oz</td>
			<td>21.5in</td>
			<td>63.25in</td>
		</tr>
	</tbody>
</table>

    </div>
</section>

<section class="half-half reversed " style="background: url(https://cdn.shopify.com/s/files/1/0799/0299/files/carbon-fiber.jpg?v=1673288036);color: white; background-size: cover;">
    <div class="product-video-container">
      <!--<div class="videoWrapper videoWrapper169 js-videoWrapper">-->
        <!-- YouTube iframe. -->
        <!-- note the iframe src is empty by default, the url is in the data-src="" argument -->
        <!-- also note the arguments on the url, to autoplay video, remove youtube adverts/dodgy links to other videos, and set the interface language -->
        <!--<iframe class="videoIframe js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="https://www.youtube.com/embed/ArNr-8uJjto?autoplay=1&modestbranding=1&rel=0&hl=sv"></iframe>-->
        <!-- the poster frame - in the form of a button to make it keyboard accessible -->
        <!--<button class="videoPoster js-videoPoster" style="background-image:url(https://cdn.shopify.com/s/files/1/0799/0299/files/outdoorsmans-micro-pan-head-videojpg.jpg?v=1660676764);">Play video</button>-->
      </div>
    </div>
    <div class="middle-text">
      <h2 style="margin-bottom: 0;">What is Carbon Innegra?</h2>
       <p>Innegra is a high-performance fiber that is used in a variety of applications, including sports equipment, automotive parts, and other products that require high strength and durability. Innegra is made from a type of polypropylene, which is a lightweight and strong plastic material.</p>
      <p> It is known for its excellent toughness and impact resistance, which makes it ideal for use in applications where these properties are important. Some of the specific benefits of Innegra include its ability to absorb shock and impact as well as its resistance to UV light, moisture, and chemicals.
</p>
    </div>
    
</section>


<section class="hero-testimonial-adapter"  >
 
  <div class="hero-testimonial-left" style="background-image: url(https://cdn.shopify.com/s/files/1/0799/0299/files/carbon-fiber-tripod-outdoorsmans_ec088968-d332-4dcb-96c3-120e06e498ba.jpg?v=1673285588)!important;">
    <div class="testimonial-container" style="max-width: 400px;margin-left: auto; padding: 15px;">
      <p class="text-white">“As one of the lucky few to be able to test the Gen 2 tripod, I have to say it's damn impressive. It looks like nothing I've ever seen before! It's somehow lighter AND more stable, and it feels like I could let an elephant stomp on it without worrying at all.”</p>
      <p class="text-white testimonial-author"><b>- Gary</b></p>
    </div>
  </div>
  <div class="hero-testimonial-right">
      {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
  </div>

</section>


<!--{% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
{% comment %}End automatically added Judge.me widget{% endcomment %}-->



{% include 'cross-sell' %}



{{product.metafields.shogun.below}}


<script>
  var addTripodToCart = function(variantID){
    var id = variantID;
    $.ajax({
        type: 'POST', 
        url: '/cart/add.js',
        dataType: 'json', 
        data: {id:id,quantity:1},
        success: function(){
              location.href="/cart";
        }
     });
  }
  
  document.getElementById("tripod-video").play();

// poster frame click event
$(document).on('click','.js-videoPoster',function(ev) {
  ev.preventDefault();
  var $poster = $(this);
  var $wrapper = $poster.closest('.js-videoWrapper');
  videoPlay($wrapper);
});

// play the targeted video (and hide the poster frame)
function videoPlay($wrapper) {
  var $iframe = $wrapper.find('.js-videoIframe');
  var src = $iframe.data('src');
  // hide poster
  $wrapper.addClass('videoWrapperActive');
  // add iframe src in, starting the video
  $iframe.attr('src',src);
}

// stop the targeted/all videos (and re-instate the poster frames)
function videoStop($wrapper) {
  // if we're stopping all videos on page
  if (!$wrapper) {
    var $wrapper = $('.js-videoWrapper');
    var $iframe = $('.js-videoIframe');
  // if we're stopping a particular video
  } else {
    var $iframe = $wrapper.find('.js-videoIframe');
  }
  // reveal poster
  $wrapper.removeClass('videoWrapperActive');
  // remove youtube link, stopping the video from playing in the background
  $iframe.attr('src','');
}
</script>

