<link type="text/css" href="{{ 'adapter.css' | asset_url }}" rel="stylesheet">
<link type="text/css" href="{{ 'outdoorsmans-product-pages.css' | asset_url }}" rel="stylesheet">

{{product.metafields.shogun.above}}
{% render 'breadcrumbs' %}

{% section 'static-product' %}

<section class="two-thirds-left" style="margin-top: 75px;">
  <div style="background: url('https://cdn.shopify.com/s/files/1/0799/0299/files/DSC08730.jpg?v=1660243550');background-size: cover;background-position: center;"></div>
  <div class="gray-border-top-bottom">
    <h2>A First of Its Kind</h2>
    <p>At Outdoorsmans, we have a long history of using optics on a tripod as a way to pursue game. In fact, some of us were there when it happened for the first time. Roughly 30 years later, after creating the toughest (and only) tripod heads ever made for hunters, we, along with our partners at Rim Country Manufacturing, took on a new challenge–building the perfect tripod head for optics. The Outdoorsmans Fluid Head is the culmination of 30 years of glassing experience, much more machining experience, and breakthroughs in design.</p>
    <p class="callout-text">We are proud to say that we offer the first and only true fluid head designed specifically for the use of large optics. We’re also not afraid to claim it as superior for any other application.</p>
  </div>
</section>


<section class="half-half reversed">
    <div style="border-left: 1px solid lightgrey; align-self: flex-end;">
      <!-- <img style="max-width: 100%;" src="https://cdn.shopify.com/s/files/1/0799/0299/files/fluid-head-1.jpg?v=1662569855" /> -->
      <video id="tripod-video" draggable="false" muted autoplay playsinline  loop style="width: 100%; ; clip-path: inset(1px 1px);">
        <source autoplay muted type="video/webm" src="https://cdn.shopify.com/videos/c/o/v/34b3b9b14486454e9e9278575b657cda.webm">
        <source autoplay muted type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/8e5bce6050e34e1d997385d3d0e52e85.mp4">
      </video>
      <p class="undervideo-testimonial">"For a big optic like a spotting scope, I can't imagine not having this head. The smooth motion and weight are huge benefits to any style of glassing and hunting. I can finally lug around a big, stable head without breaking my back."</p>
    </div>
    <div>
      <h2 style="margin-bottom: 0;">Use Cases</h2>
      <p>The Fluid Head is built with the “big-eye” hunter in mind. The type of hunter that uses this head likes to get a commanding view of a large piece of country. We’re talking BTX 115, Kowa Highlander guys. This tripod head is rated for the weight of about 10 sets of Highlanders, so you’ll never have to worry whether it can deal with that kind of stress.</p>
      <p>The pan and tilt functions on this head are simple, intuitive, and customizable to your style. Each lever has the ability to cam, and the knobs are made of solid, machined aluminum to match the strength of the body. They’re also oversized, so you’ll never miss an opportunity on a cold day that requires gloves.</p>
      <p>The handle is shorter than most video heads because when you glass, you’re nice and tight to the head. This gives you the option to run the handle forward or backward without reaching way forward or back to manipulate it. The main reason that most video heads include a 16”+ handle is to create the illusion of smoothness. The Fluid Head is really just that smooth.</p>
      <p>When paired with an extended plate or Balance Rail, Shop Manager Joe Mannino describes the glassing experience with one word – “Sublime.” It truly is a level of smoothness and balance that we’ve never seen in any other tripod head.</p>
      <p>The best part? It’s just as spectacular to use this head with binoculars. Now, with the new Combo Jaws set for the Fluid Head, you can easily switch between a spotter and binoculars without changing any plates–it’s machined for both. Ryan, our in-house coues deer magician, can sometimes be found using both at the same time. We don’t recommend it, but it’s possible.</p>
    </div>
    
</section>

<section class="half-half od-textured-background reversed">
    <div class="product-video-container">
        <div class="videoWrapper videoWrapper169 js-videoWrapper">  
        <!-- YouTube iframe. -->
        <!-- note the iframe src is empty by default, the url is in the data-src="" argument -->
        <!-- also note the arguments on the url, to autoplay video, remove youtube adverts/dodgy links to other videos, and set the interface language -->
       <iframe title="Embedded Video Player" class="videoIframe js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="https://www.youtube.com/embed/nLfUXXle4f4?autoplay=1&modestbranding=1&rel=0&hl=sv"></iframe> 
        <!-- the poster frame - in the form of a button to make it keyboard accessible -->
        <button class="videoPoster js-videoPoster" style="background-image:url(https://cdn.shopify.com/s/files/1/0799/0299/files/outdoorsmans-fluid-head-poster.jpg?v=1660245687);">Play video</button>
      </div> 
    </div>
    <div class="middle-text">
      <h2 style="margin-bottom: 0;">Build Quality That Speaks For Itself</h2>
      <p>The Outdoorsmans Fluid Head was designed, tested, and manufactured in the mountains of the West. We can guarantee that prototypes of this head have spent more combined days in the field than any hunter we know. During the design process, we took a hard look at the typical pain points associated with various tripod heads and their applications, and we’re happy to say that with the Fluid Head, they have been eliminated.</p>
      <p>Rim Country Manufacturing is legendary for their precision and experience when it comes to machined aluminum. Trusted by names like Heckler and Koch, believe us when we say that these guys take their business seriously.</p>
      <p class="callout-text">As with many of our products, the Fluid Head is one we consider to be of “heirloom” quality. That means that as much as you enjoy using it now, your kids and grandkids will enjoy it the same. This head has a service life that we don’t expect to have hard data on for quite some time.</p>
      
    </div>
    
</section>


<section class="hero-testimonial-adapter"  >
 
  <div class="hero-testimonial-left" style="background-image: url(https://cdn.shopify.com/s/files/1/0799/0299/files/NOR01423_a74deb15-b978-4f82-8f42-aa70daa7bc3a.jpg?v=1660248968)!important;">
    <div class="testimonial-container" style="max-width: 700px;margin-left: auto; padding: 15px;">
      <p class="text-white">“When you spend a lot of time in the field, you know it's all about quality when it comes to your gear. Do I like how it functions? Will it hold up to real use? This is another Outdoorsmans product that will be in my gearbox for years because it exceeds those requirements. Great job!”</p>
      <p class="text-white testimonial-author"><b>- Cory H., Verified Buyer</b></p>
    </div>
  </div>
  <div class="hero-testimonial-right">
      {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
  </div>

</section>


<!--{% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
{% comment %}End automatically added Judge.me widget{% endcomment %}-->

{% section 'tripod-head-comparison' %}

{% include 'cross-sell' %}



{{product.metafields.shogun.below}}


<script>
  var addTripodToCart = function(variantID){
    var id = variantID;
    $.ajax({
        type: 'POST', 
        url: '/cart/add.js',
        dataType: 'json', 
        data: {id:id,quantity:1},
        success: function(){
              location.href="/cart";
        }
     });
  }
  
 // document.getElementById("tripod-video").play();

// poster frame click event
$(document).on('click','.js-videoPoster',function(ev) {
  ev.preventDefault();
  var $poster = $(this);
  var $wrapper = $poster.closest('.js-videoWrapper');
  videoPlay($wrapper);
});

// play the targeted video (and hide the poster frame)
function videoPlay($wrapper) {
  var $iframe = $wrapper.find('.js-videoIframe');
  var src = $iframe.data('src');
  // hide poster
  $wrapper.addClass('videoWrapperActive');
  // add iframe src in, starting the video
  $iframe.attr('src',src);
}

// stop the targeted/all videos (and re-instate the poster frames)
function videoStop($wrapper) {
  // if we're stopping all videos on page
  if (!$wrapper) {
    var $wrapper = $('.js-videoWrapper');
    var $iframe = $('.js-videoIframe');
  // if we're stopping a particular video
  } else {
    var $iframe = $wrapper.find('.js-videoIframe');
  }
  // reveal poster
  $wrapper.removeClass('videoWrapperActive');
  // remove youtube link, stopping the video from playing in the background
  $iframe.attr('src','');
}
</script>

