<link type="text/css" href="{{ 'adapter.css' | asset_url }}" rel="stylesheet">
<link type="text/css" href="{{ 'outdoorsmans-product-pages.css' | asset_url }}" rel="stylesheet">

{{product.metafields.shogun.above}}
{% render 'breadcrumbs' %}

{% section 'static-product' %}

<section class="two-thirds-left" style="margin-top: 75px;">
  <div style="background: url('https://cdn.shopify.com/s/files/1/0799/0299/files/outdoorsmans-pan-head_9b23b64f-5122-4f90-a88e-b544560b760c.jpg?v=1660237401');background-size: cover;background-position: center;"></div>
  <div class="gray-border-top-bottom">
    <h2>Eliminate Resistance</h2>
    <p>When you’re spending multiple days in the field searching for a trophy big game animal, the last thing you want is a barrier between you and quality glassing sessions. A smooth, easy-to-run tripod head is one of the most important gear for any open country hunter.</p>
    <p>The Outdoorsmans Pan Head was developed specifically for the hunter that is on the move and using a combination of binoculars and a spotting scope. This head is lightweight, ballistic-missile-proof, and integrates seamlessly with the Outdoorsmans Tripod System. The low-profile nature of this head combined with its powerful load capacity and focus on function put it in an entirely separate category from its "competitors."</p>
    <p class="callout-text">Deploys in seconds and handles everything you throw at it.</p>
  </div>
</section>


<section class="half-half reversed" style="background-color: #fbfbfb;">
    <div style="display: flex; align-items: center;">
      <video id="tripod-video" draggable="false" muted autoplay playsinline  loop style="width: 100%; object-fit:fill;"><source autoplay muted type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/2e035f99fb754bac989f446a5289b33d.mp4"></video>
    </div>
    <div>
      <h2 style="margin-bottom: 0;">Lasting Construction</h2>
      <p>This head is at home in nearly any situation. The adjustment knobs rotate with an amount of force that’s easy, but not too easy. These controls are also able to cam and reposition for quick adjustments and are simple to manipulate–even with cold hands or gloves.</p>
      <p>One of the first external features many customers notice is the length of the handle. Mass-produced tripod heads often include a handle twice the length of this one. The extra length provides the illusion of smoothness due to the amount of leverage available.</p>
      <p>The Outdoorsmans Pan Head is smooth enough to operate accurately with a single hand on the body, without a handle. It can even be manipulated with the bridge of your nose on your optic when the tension is set appropriately.</p>
      <p>This head is designed for use with Outdoorsmans Dovetail Adapter Plates, but can be mounted to any set of tripod legs with a ⅜’ mounting thread. With extremely fine tolerances, as with all Outdoorsmans parts, there is never a concern with fit or function. This head locks down tight in any position and will not gradually unscrew itself from your tripod legs, as is the case with many other heads.</p>
      <p class="callout-text">The Pan Head is billet machined and assembled in Payson, Arizona from 6061 aircraft-grade aluminum and each unit is hand-inspected.</p>
    </div>
    
</section>

<section class="half-half od-textured-background reversed">
     <div class="product-video-container">
      <div class="videoWrapper videoWrapper169 js-videoWrapper">
        <!-- YouTube iframe. -->
        <!-- note the iframe src is empty by default, the url is in the data-src="" argument -->
        <!-- also note the arguments on the url, to autoplay video, remove youtube adverts/dodgy links to other videos, and set the interface language -->
        <iframe title="Embedded Video Player" class="videoIframe js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="https://www.youtube.com/embed/Mtgk-odjksA?autoplay=1&modestbranding=1&rel=0&hl=sv"></iframe>
        <!-- the poster frame - in the form of a button to make it keyboard accessible -->
        <button class="videoPoster js-videoPoster" style="background-image:url(https://cdn.shopify.com/s/files/1/0799/0299/files/youtube-poster.png?v=1659642756);">Play video</button>
      </div>
    </div>
    <div class="middle-text">
      <h2 style="margin-bottom: 0;">Who is the pan head for?</h2>
      <p>With the lightweight (10.5 oz) nature of this head comes a slightly lower capacity than something like the Outdoorsmans Fluid Head. We recommend the Pan Head for binoculars and spotting scopes with an objective lens size of up to 65 mm. 85 mm, 95 mm, and larger scopes can be used, but the added weight may prove cumbersome due to the lack of fluid drag. If you plan to use large optics, we recommend mounting it with a Balance Rail or Extended Adapter Plate.</p>
      <p>This head is very popular with sheep hunters, backpackers, and hike-to hunters. It offers the best balance of strength, stability, and weight. In its category, these qualities are greatly unmatched.</p>
      <p class="callout-text">This tripod head also makes an exceptional shooting rest. Since this head was designed by hunters, we have developed an entire system of shooting accessories and adapters to fit any type of rifle and shooting scenario.</p>
      
    </div>
    
</section>


<section class="hero-testimonial-adapter"  >
 
  <div class="hero-testimonial-left" style="background-image: url(https://cdn.shopify.com/s/files/1/0799/0299/files/outdoorsmans-pan-head-browning-camo_057baec7-b597-4b0f-b259-1c9bd74d201a.jpg?v=1660238113)!important;">
    <div class="testimonial-container" style="max-width: 400px;margin-left: auto; padding: 15px;">
      <p class="text-white">“A great piece of kit. I wish I had gotten this years ago. Quality is top notch. Operation is smooth and effortless.”</p>
      <p class="text-white testimonial-author"><b>- Dwight Swift, Verified Buyer</b></p>
    </div>
  </div>
  <div class="hero-testimonial-right">
      {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
  </div>

</section>


<!--{% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
{% comment %}End automatically added Judge.me widget{% endcomment %}-->

{% section 'tripod-head-comparison' %}

{% include 'cross-sell' %}



{{product.metafields.shogun.below}}


<script>
  var addTripodToCart = function(variantID){
    var id = variantID;
    $.ajax({
        type: 'POST', 
        url: '/cart/add.js',
        dataType: 'json', 
        data: {id:id,quantity:1},
        success: function(){
              location.href="/cart";
        }
     });
  }
  
  document.getElementById("tripod-video").play();

// poster frame click event
$(document).on('click','.js-videoPoster',function(ev) {
  ev.preventDefault();
  var $poster = $(this);
  var $wrapper = $poster.closest('.js-videoWrapper');
  videoPlay($wrapper);
});

// play the targeted video (and hide the poster frame)
function videoPlay($wrapper) {
  var $iframe = $wrapper.find('.js-videoIframe');
  var src = $iframe.data('src');
  // hide poster
  $wrapper.addClass('videoWrapperActive');
  // add iframe src in, starting the video
  $iframe.attr('src',src);
}

// stop the targeted/all videos (and re-instate the poster frames)
function videoStop($wrapper) {
  // if we're stopping all videos on page
  if (!$wrapper) {
    var $wrapper = $('.js-videoWrapper');
    var $iframe = $('.js-videoIframe');
  // if we're stopping a particular video
  } else {
    var $iframe = $wrapper.find('.js-videoIframe');
  }
  // reveal poster
  $wrapper.removeClass('videoWrapperActive');
  // remove youtube link, stopping the video from playing in the background
  $iframe.attr('src','');
}
</script>

